body {
  background: #ffa726;
}
.tile .box {
  background: #fff3e0;
}
.button {
  background: #ffa726;
  color: #fff3e0;
  border: none;
  margin-bottom: 1%;
}
.button:hover {
  background: #ffb74d;
  color: #fff3e0;
  border: none;
}
.title {
  color: #fff3e0;
}
h2 {
  color: #e65100;
  font-size: 1.5em;
  margin-bottom: 1%;
}
input#burger {
  margin-bottom: 2%;
}
